# https://circleci.com/docs/2.0/configuration-reference/
version: 2.1
jobs:
  build:
    docker:
      - image: okteto/charts:dev
    steps:
      - checkout
      - run:
         name: Build
         command: make all
      - persist_to_workspace:
          root: .
          paths:
            - public
  publish:
      docker:
          - image:  okteto/golang-ci:1.14
      steps:
        - checkout
        - attach_workspace:
            at: .
        - run:
           name: Publish
           command: |
            echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
            make publish
workflows:
  version: 2
  build:
    jobs:
      - build
      - publish:
          context: GKE
          requires:
            - build
          filters:
            branches:
              only: master
