prometheus:
  alertmanager:
    enabled: true
    ingress:
      enabled: true
      annotations:
        dev.okteto.com/generate-host: "true"
      hosts:
        - localhost
    resources:
      limits:
        memory: "128Mi"
        cpu: "200m"

  configmapReload:
    alertmanager:
        resources:
          limits:
            memory: "64Mi"
            cpu: "100m"  
    prometheus:
        resources:
          limits:
            memory: "64Mi"
            cpu: "100m"

  kubeStateMetrics:
    enabled: false
  
  nodeExporter:
    enabled: false
  
  pushgateway:
    enabled: false
  
  server:
    enabled: true
    ingress:
      enabled: true
      annotations:
        dev.okteto.com/generate-host: "true"
      hosts:
        - localhost
    resources:
      limits:
        memory: "128Mi"
        cpu: "200m"
  rbac:
    create: false
  
  serviceAccounts:
    alertmanager:
      create: false
      name: default
    server:
      create: false
      name: default