# Update "flux.git.url" to point to your git repository
# Update "secret" to configure your own shared secret between git webhooks and flux

secret: d923b09cfbfa33ba0fcd071731e7851530481ba8
flux:
  git:
    # URL of git repo with Kubernetes manifests; e.g. git.url=ssh://git@github.com/fluxcd/flux-get-started
    url: "ssh://git@github.com/okteto/flux-getting-started.git"
    # Branch of git repo to use for Kubernetes manifests
    branch: "master"
    # Path within git repo to locate Kubernetes manifests (relative path)
    path: ""
    # Set to `true` if you intend for Flux to not be able to push changes to git.
    # Also configure state.mode to `secret` since storing state in a git tag will no longer be possible.
    readonly: false
    # Username to use as git committer
    user: "Okteto Cloud"
    # Email to use as git committer
    email: "hello@okteto.com"
    # If set, commits will be signed with this GPG key.
    signingKey: ""
    # If set, the signatures of the sync tag and commits will be verified.
    verifySignatures: false
    # If set, the author of git commits will reflect the user who initiated the commit and will differ from the git committer.
    setAuthor: false
    # Label to keep track of sync progress
    label:
    # Append "[ci skip]" to commit messages so that CI will skip builds
    ciSkip: false
    # Period at which to poll git repo for new commits
    pollInterval: "1m"
    # Duration after which git operations time out
    timeout: "20s"
    # Global Git configuration See https://git-scm.com/docs/git-config for more details.
    config:
      enabled: false
      secretName: ""
      data: ""
      # data: |
      #   [credential "https://github.com"]
      #           username = foo

  sync:
    # use `.sync.state: secret` to store flux's state as an annotation on the secret (instead of a git tag)
    state: git

  # If enabled, fluxd will look for .flux.yaml and run Kustomize or other manifest generators
  manifestGeneration: false

  gpgKeys:
    # These keys will be imported into GPG in the Flux container.
    secretName: ""
    # These keys will be imported into GPG in the Flux container.
    # NB: should only be used for public keys used to verify the
    # signatures of commits.
    configMapName: ""

  # If `true` SOPS support will be enabled
  sops:
    enabled: false

  registry:
    # Period at which to check for updated images
    automationInterval: "1m"
    # Maximum registry requests per second per host
    rps: 200
    # Maximum number of warmer connections to remote and memcache
    burst: 125
    # Output trace of image registry requests to log
    trace: false
    # Disable registry scanning completely
    disableScanning: false
    # Do not scan images that match these glob expressions
    excludeImage:
    # Scan only images that match these glob expressions; if empty, all images are included
    includeImage: "registry.cloud.okteto.net/*"

  syncGarbageCollection:
    enabled: false
    dry: false

  image:
    repository: docker.io/fluxcd/flux
    tag: 1.23.0

helm-operator:
  # Log the diff when a chart release diverges
  logReleaseDiffs: false
  # Period on which to reconcile the Helm releases with `HelmRelease` resources
  chartsSyncInterval: "1m"

  # For charts stored in Git repos set the SSH private key secret
  git:
    # Period on which to poll git chart sources for changes
    pollInterval: "1m"
    timeout: "20s"
    # Ref to clone chart from if ref is unspecified in a HelmRelease,
    # empty defaults to `master`
    defaultRef: ""
    # Global Git configuration See https://git-scm.com/docs/git-config for more details.
    config:
      enabled: false
      secretName: ""
      data: ""
      # data: |
      #   [credential "https://github.com"]
      #           username = foo

  image:
    repository: docker.io/fluxcd/helm-operator
    tag: 1.4.0
